html, body {
    margin:0;
    height:100%;
    background-color: #111111;
    font-family: 'Roboto Mono', monospace;
}

#header {
    display: inline;
}

#content {
    width: 100%; 
    max-width: 800px; 
    margin: 64px auto 0;
}

#text-name {
    font-size: 24px; 
    font-weight: bold; 
    color: #ffffff;
    margin: 32px 32px 8px;
    vertical-align: middle;
}

#text-desc {
    vertical-align: middle;
    color: #BDBDBD;
    font-size: 14px;
    margin: 8px 32px 32px;
}

#icon-link-btns {
    float: right;
    vertical-align: middle
}

#text-apps-head {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 64px;
}

.icon-link-btn {
    width: 48px; 
    height: 48px; 
    margin: 8px 8px;
    vertical-align: middle;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.icon-link-btn svg {
    border-radius: 4px;
    padding: 4px;
    fill: #bdbdbd;
    /* for smooth hover animation */
    transition-property: fill, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: initial;
}

.icon-link-btn svg:hover {
    fill: #ffffff;
    background-color:rgba(255,255,255,.1);
}

.tag-icon svg {
    border-radius: 4px;
    padding: 4px;
}

.app-card {
    margin: 32px; 
    padding: 16px 16px 0; 
    border-radius: 6px; 
}

.app-name {
    /* text-align: center; */
    vertical-align: left;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;
}

.app-descr {
    color: rgba(255,255,255,.6);
    font-size: 12px;
    font-weight: bold;
}

.app-screenshot {
    width: 100%; /* max-width: 200px; */
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.app-screenshot:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.app-link-btn {
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    padding-right: 26px;
    /* for smooth hover animation */
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: initial;
    background-image: url('images/buttons/link.svg');
    background-size: 16px 16px;
    background-position: calc(100% - 6px) 50%;
    background-repeat: no-repeat;
}

.app-link-btn:hover {
    background-color:rgba(255,255,255,.2);
}

#privacy-terms-link {
    font-size: 12px;
    color: #bdbdbd;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px;
    text-decoration: none;
    /* for smooth hover animation */
    transition-property: color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: initial;
}

#privacy-terms-link:hover {
    color: #ffffff;
    background-color:rgba(255,255,255,.1);
}

#code-link-btn {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    padding-right: 26px;
    /* for smooth hover animation */
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: initial;
    background-image: url('images/buttons/code.svg');
    background-size: 16px 16px;
    background-position: calc(100% - 4px) 50%;
    background-repeat: no-repeat;
}

#code-link-btn:hover {
    background-color:rgba(255,255,255,.2);
}
