html, body {
    margin:0;
    height:100%;
    background-color: #f5f5f5;
    font-family: 'Roboto Mono', monospace;
}

#text-name {
    text-align: center;
    vertical-align: middle;
    color: #000000;
    font-size: 20px; 
    font-weight: bold; 
    margin-top: 24px;
}

#text-desc {
    text-align: center;
    vertical-align: middle;
    color: #9E9E9E;
    font-size: 14px;
}

#text-apps-head {
    text-align: center;
    vertical-align: middle;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    padding: 16px;
}

#profile-pic {
    width: 128px;
    height: 128px;
    background-size: 128px 128px;
    display: block;
    border-radius: 64px;
    margin: 32px auto 0;
    /* shadow */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 2px 1px -1px rgba(0, 0, 0, .12);
}

.link-button {
    width: 48px; 
    height: 48px; 
    margin: 8px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.link-button svg {
    border-radius: 4px;
    padding: 4px;
    fill: #bdbdbd;
    /* for smooth hover animation */
    transition-property: fill, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: initial;
}

.link-button svg:hover {
    fill: #424242;
    background-color: #E0E0E0;
}

.app-link-button {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px;
    padding-right: 22px;
    /* for smooth hover animation */
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: initial;
    background-image: url('images/buttons/link.svg');
    background-size: 16px 16px;
    background-position: calc(100% - 4px) 50%;
    background-repeat: no-repeat;
}

.app-link-button:hover {
    background-color: #E0E0E0;
}

#content {
    width: calc(100% - 32px); 
    max-width: 1000px; 
    margin: 64px auto; 
}

#privacy-terms-link {
    float: right;
    font-size: 12px;
    color: #424242;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px;
    text-decoration: none;
    /* for smooth hover animation */
    transition-property: color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: initial;
}

#privacy-terms-link:hover {
    color: #212121;
    background-color: #E0E0E0;
}

.app-card {
    border-radius: 6px;
    /* for smooth hover animation */
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: initial;
}

.app-card:hover {
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .2),
    0 8px 10px 0 rgba(0, 0, 0, .14),
    0 2px 20px 0 rgba(0, 0, 0, .12)
}