html, body {
    margin:0;
    height:100%;
    background-color: #F5F5F5;
    font-family: 'Roboto Mono', monospace;
}

#content {
    max-width: 1000px;
    padding-left: 1%;
    padding-right: 1%;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    color: #757575;
    font-size: 14px;
}