html, body {
    margin:0;
    height:100%;
    background-color: #111111;
    font-family: 'Roboto Mono', monospace;
}

#content {
    max-width: 1000px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

a {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

p {
    color: #bdbdbd;
    font-size: 12px;
    font-weight: bold;
}